---
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
---
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Right
AlignAfterOpenBracket: BlockIndent
AlignOperands: DontAlign
BinPackArguments: false
BinPackParameters: false
PackConstructorInitializers: CurrentLine
AccessModifierOffset: -4
FixNamespaceComments: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
BreakConstructorInitializers: AfterColon
